{
  "presets": ["@babel/preset-env", "@babel/preset-react"],

  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/transform-async-to-generator"
      ]
    }
  }
}