@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
/*
GLOBAL DEFAULTS:
- Box-Sizing: Margin & Padding is included within the height/width adjustments
- Margin & Padding: override the pre-built margin & padding to absolute zero
- Font: change default font to selected variable
*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Karla", sans-serif;
}

/*
GLOBAL INHERITANCE:
- Box-Sizing: Making sure that all elements will inherit the Border-Box Global Default
- Font: Making sure that all elements will inherit the selected font variable
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Karla", sans-serif;
}

/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
/************************************************************
 ********************** MAIN CONTAINER **********************
 ************************************************************/
#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

/************************************************************
 ************************ LEFT PANEL ************************
 ************************************************************/
#left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2a2b47;
}

/************************************************************
 ************************ RIGHT PANEL ***********************
 ************************************************************/
#right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #1b1b2c;
}

#right-panel #announcement-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25px;
  background-color: #ff0086;
}

#right-panel #announcement-bar h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 15px;
  margin: auto;
}

/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sidebar #main-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar #main-sidebar img {
  margin: 25px auto;
}

#sidebar #main-sidebar button {
  margin: 25px auto;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: none;
}

#sidebar #main-sidebar button:hover {
  background-color: #ffb600;
}

#sidebar #bottom-sidebar {
  height: 49.83px;
}

/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
#code-editor {
  width: 40%;
  height: 100%;
}

#code-editor #code-submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#code-editor .ReactCodeMirror {
  height: 100%;
}

#code-editor .ReactCodeMirror .CodeMirror-scroll {
  padding: 0;
  height: 100%;
}

#code-editor #code-submit-form {
  height: 100%;
}

#code-editor .CodeMirror {
  height: 100%;
}

#code-editor #submit-button {
  width: 100%;
  height: 50.5px;
  background-color: #ffb600;
  border: none;
  padding: 0;
  margin: -30px 0 0 0;
  z-index: 10;
}

#code-editor #submit-button:hover {
  background-color: #399cff;
}

#code-editor #submit-button:active {
  background-color: #3fe078;
}
