@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
#code-editor {
  width: 40%;
  height: 100%;
}

#code-editor #code-submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#code-editor .ReactCodeMirror {
  height: 100%;
}

#code-editor .ReactCodeMirror .CodeMirror-scroll {
  padding: 0;
  height: 100%;
}

#code-editor #code-submit-form {
  height: 100%;
}

#code-editor .CodeMirror {
  height: 100%;
}

#code-editor #submit-button {
  width: 100%;
  height: 50.5px;
  background-color: #ffb600;
  border: none;
  padding: 0;
  margin: -30px 0 0 0;
  z-index: 10;
}

#code-editor #submit-button:hover {
  background-color: #399cff;
}

#code-editor #submit-button:active {
  background-color: #3fe078;
}
