@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/
/************************************************************
 ************************** COLORS **************************
 ************************************************************/
