@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/************************************************************
 ************************ TYPOGRAPHY ************************
 ************************************************************/

// FONTS
$font-alata: 'Alata', sans-serif;
$font-karla: 'Karla', sans-serif;

/************************************************************
 ************************** COLORS **************************
 ************************************************************/

// SIGNATURE BRAND COLORS
$stratos-red: #ff0086;
$stratos-yellow: #ffb600;
$stratos-green: #3fe078;
$stratos-blue: #399cff;

// BACKGROUND COLOR(S)
$background-darkmode-dark: #2a2b47;
$background-darkmode-darker: #1b1b2c;
$background-darkmode-darkest: #0c0c11;
