@import './variables';

#code-editor {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;

  .code-mirror-container {
    height: 94%;
  }

  .react-codemirror2 {
    height: 94%;
  }

  .CodeMirror {
    height: 94%;
    z-index: 0;
  }

  #buttons-section {
    display: flex;
    justify-content: space-around;
    margin: -50px 0 -100px 0;
  }

  #cancel-button {
    fill: $stratos-yellow;
  }

  #submit-button {
    fill: $stratos-green;
  }
}
