@import './variables.scss';

#code-editor {
  width: 40%;
  height: 95%;

  #code-submit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ReactCodeMirror {
    height: 95%;
  }

  .CodeMirror {
    height: 95%;
  }

  #cancel-button {
    fill: $stratos-yellow;
  }

  #submit-button {
    fill: $stratos-green;
  }
}
