@import './variables';

#info-modal {
  font-family: $font-karla;
  height: 80%;
  width: 60%;
  text-align: center;

  img {
    margin: 0 auto;
  }

  span {
    color: $stratos-blue;
  }

  a {
    color: $stratos-blue;
    text-decoration: none;
  }

  h1 {
    color: $stratos-yellow;
    font-family: $font-kanit;
    font-size: 32pt;
  }

  h2 {
    color: $stratos-blue;
    font-family: $font-kanit;
    font-size: 18pt;
  }

  h3 {
    color: $stratos-blue;
    font-family: $font-kanit;
    font-size: 18pt;
  }

  p {
    color: #ffffff;
  }

  strong {
    color: $stratos-red;
  }

  em {
    color: $stratos-green;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  #info-composition {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }

  .secondary-button {
    margin: 10px 0 0 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: $stratos-red;
    text-align: right;
    font-size: 25px;
    font-family: $font-alata;

    &:focus {
      outline: none;
    }
  }
}
