@import './variables';

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      margin: 25px auto;
    }

    svg {
      margin: 20px auto;
      fill: #ffffff;

      &:hover {
        fill: $stratos-blue;
      }
    }

    #aws-modal {
      background-color: black;
      display: flex;
      flex-direction: column;
    }
  }

  #bottom-sidebar {
    height: 41.53px;
  }
}
