@import './variables';

#table-container {
  max-height: 80%;
  margin: 0 0 10px 0;

  #result-table {
    width: 100%;
    color: #ffffff;

    th {
      background-color: $stratos-red;
      padding: 5px;
    }

    td {
      background-color: #0d1122;
      text-align: center;
      padding: 5px;
    }
  }
}
