@import './variables';

#upload-modal {
  display: flex;
  flex-direction: column;
  height: auto;

  h1 {
    font-family: $font-kanit;
    font-size: 36pt;
    color: $stratos-yellow;
    line-height: 0.75rem;
    margin: 20px auto 0 auto;
  }

  p {
    color: #ffffff;
    margin: 20px auto 30px auto;
  }

  #upload-form {
    .choose-file-button {
      color: $stratos-yellow;
    }

    .choose-file-button::-webkit-file-upload-button {
      visibility: hidden;
    }

    .choose-file-button::before {
      content: 'Choose File';
      display: inline-block;
      background: $stratos-yellow;
    }
  }

  .primary-button {
    margin: 10px 0 0;
    height: 30px;
    background-color: $stratos-green;
    border: none;
  }

  .secondary-button {
    margin: 10px 0 0 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $stratos-green;
    color: $stratos-green;
  }
}
